.cryptolist {
  width: 80%;
  background: darkblue;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.unordered {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.listItem {
  width: 45%;
  padding-right: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem:nth-child(even) {
  background: linear-gradient(90deg, #2d3874 0, #2e4d75);
}

.listItem:nth-child(odd) {
  background: linear-gradient(90deg, #1f264e 0, #2e4d75);
}

.top {
  display: flex;
  justify-content: space-around;
  background: green;
  width: 100%;
}
