.cryptolist {
  width: 100%;
  background: #0b0e1c;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.unordered {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.listItem {
  width: 45%;
  padding-right: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem:nth-child(even) {
  background: linear-gradient(90deg, #2d3874 0, #2e4d75);
}

.listItem:nth-child(odd) {
  background: linear-gradient(90deg, #1f264e 0, #2e4d75);
}

.top {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.name {
  font-family: 'Roboto Slab', serif;
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 600;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto Slab', serif;
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 600;
}
